
.hidden {
    display: none;
}
body {
    animation: fadein 0.8s ease-in-out forwards;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BackGroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
}
.index-form {
    background: none;
    border: 0;
    font-size: 22px;
    color: rgb(69, 52, 52);
    border-bottom: 2px solid white;
    
}
#todo-input {
    background: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 22px;
    color: rgb(69, 52, 52);
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
#clock {
    margin-top: 0px;
    margin-bottom: 10px;
    color: green;
    font-size: 60px;
}
#myDate {
    margin-bottom: 5px;
    color: aquamarine;
    text-shadow: -1px 0px red, 0px 1px red, 1px 0px red, 0px -1px red;
}
#quote {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    text-shadow: -1px 0px gold, 0px 1px gold, 1px 0px gold, 0px -1px gold;
}
#weather {
    position: absolute;
    top: 30px;
    right: 20px;
    text-shadow: -1px 0px lime, 0px 1px lime, 1px 0px lime, 0px -1px lime;
}
#todo-list {
    position: relative;
    left: -100px;
    color: coral;
}
#delete-button {
    background: none;
    position: absolute;
    left: 200px;

}