.hidden {
    display: none;
}
body {
    animation: fadein 0.8s ease-in-out forwards;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form {
    width: 400px;
}
.BackGroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
}
.index-form {
    background: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
}