.hidden {
    display: none;
}
body {
    animation: fadein 0.8s ease-in-out forwards;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form {
    width: 400px;
}
.BackGroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    background-position: center;
    background-size: cover;
}
.index-form {
    background: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
    
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
#clock {
    margin-top: 0px;
    margin-bottom: 10px;
    color: green;
    font-size: 60px;
}
#myDate {
    margin-bottom: 5px;
    color: aquamarine;
}